@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    font-family: "Anta", sans-serif;
}
span{
    color: red;
}
p{
    color: gray;
}
body{
    user-select: none;

}
button{
    background-color:transparent;
    color: black;
    border: none;
    position: relative;
    font-family: "Anta", sans-serif;
}
button::after{
 content: "";
 position: absolute;
 width: 100%;
 height: 1px;
 background-color: black;
 bottom: 0;
 left: 0;
 width: 0;
 transition: 0.5s;
}
button:hover{
    background-color: transparent;
}
button:hover::after{
    width: 100%;
}

.navbar ul{
  list-style: none;
}
section{
    height:auto;
}
.footer{
   height: auto;
  
}
.logo h3{
    color: red;
    font-family: "Anta", sans-serif;
}
.main{
    position: relative;
}
.signIn,.signUp,.priceFinder{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transition: 0.5s;
    display: flex;
    scale: 0;
    transform: translateY(-200%);
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
}
.signIn::after,.signUp::after,.priceFinder::after{
 content: "";
 position: absolute;
 width: 50%;
 background-color:lightblue;
 height: 50%;
 top: -25%;
 left: -20%;
 z-index: -1;
 border-radius: 50%;
}
.signIn::before,.signUp::before,.priceFinder::before{
 content: "";
 position: absolute;
 width: 50%;
 background-color:lightblue;
 height: 50%;
 bottom: -25%;
 right: -20%;
 z-index: -3;
 border-radius: 50%;
}
.closeIcon{
    position: absolute;
    top: -100px;
    cursor: pointer;
    right: -7%;
}
.show{
    scale: 1;
    transform: translate(-50%,-50%);
}